<!DOCTYPE html>
<html>
<head>
  <title>BaseProject</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "BaseProject", '#', class: "brand" %>
        <p class="navbar-text pull-right">
          <% if current_user %>
            Logged in as <%= current_user.email %>. 
            <%= link_to "Log out", '#' %>
          <% else %>
            <%= link_to "Log in", '#' %>
          <% end %>
        </p>
      </div>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
